# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_BUCKET_NAME=taxi-backet-26

MINIO_USER_NAME=
NINIO_USER_PASS=

# MLFlow
MLFLOW_TRACKING_URI=http://localhost:5050
MLFLOW_S3_ENDPOINT_URL=http://localhost:9000
