# --- Настройки Сервера ---
SERVER_PUBLIC_IP=169.58.244.233

# --- База Данных Postgres ---
POSTGRES_USER=mlflow_admin
POSTGRES_PASSWORD=придумай_надежный_пароль
POSTGRES_DB=mlflow_db

# --- Хранилище MinIO Enterprise ---
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=придумай_минимум_8_символов
MINIO_BUCKET_NAME=mlflow-bucket
MINIO_USER_NAME=mlflow_user
NINIO_USER_PASS=придумай_пароль_пользователя
